@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 36px;
}
p {
    font-size: 16px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.flex {
    display: flex;
}
.btn {
    text-decoration: none;
    display: inline-block;
    padding: 16px 50px;
    border-radius: 100px;
    background-color: #e2543b;
    color: #fff;
    transition: .3s;
}
.btn:hover {
    background-color: #642b21d8;
}
.secondery-btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    background: #fff;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #d46956;
    transition: .3s;
}
.secondery-btn:hover {
    background-color: #e2543b;
    color: #fff;
    border: 1px solid #e2543b;
}
.heading {
    font-size: 30px;
    font-weight: 800;
    color: #696767;
    position: relative;
}
.heading::after {
    content: '';
    width: 80px;
    height: 4px;
    background: #e2543b;
    position: absolute;
    top: 45px;
    right: 47%;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.navbar .logo {
    width: 180px;
    height: 55px;
}
.navbar ul li {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}
.navbar ul a {
    color: gray;
}
.navbar ul a:hover {
    color: #3d3c3c;
}
.navbar ul a .fas {
    color: #5a5959;
    font-size: 22px;
}


/* Start Featured-products */
.product-list {
    padding: 30px 150px;
    justify-content: space-between;
}
.product {
    width: 25%;
    margin: 0 16px;
}
.product img {
    width: 100%;
}
.product strong {
    color: #6b6969;
    display: inline-block;
    margin: 5px 0;
}
.ratings i {
    color: #e2543b;
}

/* Start Footer */
.footer {
    background-color: #000;
    padding: 60px 120px 20px;
    text-align: center;
    justify-content: space-between;
}
.footer > p {
    color: gray;
    margin-top: 50px;
}
.footer-column {
    width: 25%;
}
.footer-column img {
    width: 40%;
    margin-right: 5px;
    cursor: pointer;
}
.ft-logo {
    width: 70%;
}
.footer-column b {
    color: #fff;
}
.footer-column p,li,a {
    color: gray;
}
.footer-column ul {
    padding: 0;
}
.footer-column ul a {
    margin: 5px 0;
}