body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 45px;
}
h2 {
    font-size: 36px;
}
p {
    font-size: 16px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    display: inline-block;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.flex {
    display: flex;
}
.btn {
    text-decoration: none;
    display: inline-block;
    padding: 16px 50px;
    border-radius: 100px;
    background-color: #e2543b;
    color: #fff;
    transition: .3s;
}
.btn:hover {
    background-color: #642b21d8;
}
.heading {
    font-size: 30px;
    font-weight: 800;
    color: #696767;
    position: relative;
}
.heading::after {
    content: '';
    width: 80px;
    height: 4px;
    background: #e2543b;
    position: absolute;
    top: 45px;
    right: 47%;
}






/* Start Header */
.header {
    padding: 0 120px;
    background-color: #f5e0dd;
}
.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
.navbar .logo {
    width: 180px;
    height: 55px;
}
.navbar ul li {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}
.navbar ul a {
    color: gray;
}
.navbar ul a:hover {
    color: #3d3c3c;
}
.navbar ul a .fas {
    color: #5a5959;
    font-size: 22px;
}

.content {
    justify-content: space-between;
    align-items: center;
    padding: 90px 0 50px;
    text-align: left;
}
.content div {
    width: 50%;
}
.content img {
    width: 90%;
}
.content h1 {
    font-size: 50px;
    font-weight: 800;
}
.content p {
    font-weight: 500;
    color: gray;
    margin: 30px 0;
}
.content-img {
    text-align: right;
}


/* Start Categories */
.categories {
    justify-content: center;
    padding: 60px 150px;
}
.categories img {
    width: 30%;
}
.categories img:nth-child(2) {
    margin: 0 40px;
}


/* Start Featured-products */
.product-list {
    padding: 30px 150px;
    justify-content: space-between;
}
.product {
    width: 25%;
    margin: 0 16px;
}
.product img {
    width: 100%;
}
.product strong {
    color: #6b6969;
    display: inline-block;
    margin: 5px 0;
}
.ratings i {
    color: #e2543b;
}


/* Start Latest-products */
.latest-products {
    padding-bottom: 60px;
}


/* Start Exclusive-offer */
.exclusive-offer {
    background-color: #f5e0dd;
    padding: 70px 120px;
    justify-content: center;
    align-items: center;
}
.offer-img {
    width: 45%;
}
.offer-img img {
    width: 75%;
}
.offer-text {
    width: 55%;
}
.offer-text strong {
    color: #6b6969;
    font-weight: 900;
}
.offer-text p {
    color: #6b6969;
    margin: 25px 0;
}


/* Start Testimonials */
.testimonial {
    padding: 70px 120px;
}
.review {
    width: 33%;
    text-align: center;
    padding: 20px;
    margin: 0 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 15px grey;
}
.review img {
    width: 22%;
    border-radius: 50%;
}
.review i {
    color: #e2543b;
    margin: 20px 0 30px;
}
.review h2,.review h2 i {
    margin: 10px 0;
}
.review p {
    color: gray;
    margin: 0px;
}
.review strong {
    color: #6b6969;
    display: inline-block;
    margin-top: 10px;
}

.brands {
    padding: 40px 120px 80px;
    justify-content: space-between;
}
.brands img {
    margin: 0 20px;
    filter: grayscale(100%);
}
.brands img:hover {
    filter: grayscale(0%);
}


/* Start Footer */
.footer {
    background-color: #000;
    padding: 60px 120px 20px;
    text-align: center;
    justify-content: space-between;
}
.footer > p {
    color: gray;
    margin-top: 50px;
}
.footer-column {
    width: 25%;
}
.footer-column img {
    width: 40%;
    margin-right: 5px;
    cursor: pointer;
}
.ft-logo {
    width: 70%;
}
.footer-column b {
    color: #fff;
}
.footer-column p,li,a {
    color: gray;
}
.footer-column ul {
    padding: 0;
}
.footer-column ul a {
    padding: 3px 0;
}



